.custom-input {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}

.left-content {
  display: flex;
  align-items: center;
  color: gray;
  margin-right: 8px;
}

.ext-text {
  margin-left: 4px;
}

.editable-input {
  flex: 1;
  outline: none;
  border: none;
  min-height: 20px;
}

.right-icon {
  color: gray;
  cursor: pointer;
}
